*{
    font-family: monospace;
    font-size: 15px;
}
body{
    margin: 0;
    padding: 10px;
    background-color: aliceblue;
}
header{
    background-color: #2196F3;
    height: 100vh;
    color: white;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(33, 131, 230);
    font-size: 30px;
}
header h1{
    margin: 0;
    color: white;
    text-align: center;
}
.button{
    margin: 10px;
 height: 40px;
 width: 120px;
 border: none;
 border-radius: 5px;
 transition: all 2s ease-out 0s;
}
img{
    height: 200px;
}
.button:hover{
    background-color: rgb(138, 164, 34);
    cursor: pointer;
    transform: translateY(-10px);
}
section{
    height: 100vh;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2196F3;
}
.submit:hover{
    color: #0c8af0;
    cursor: pointer;
}
input{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 25px;
}
textarea{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 100px;
}
.fixedButton{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius:50%;
    color: white;
    background-color: #2196F3;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor:pointer
}
footer{
    background-color: black;
    color: grey;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form div{
    margin: 5px 0;
}
a{
    text-decoration: none;
}